<%@ Master Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true" CodeBehind="student_dashboard.master.cs" Inherits="WebApplication3.NestedMasterPage1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PrivateStyle" runat="server">
  <link href="css/student_dashboard.css" rel="stylesheet" />
  <asp:ContentPlaceHolder ID="PrivateStyle2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageTitle" runat="server">
  Student Dashboard
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentBody" runat="server">
  <!-- Start Dashboard -->

  <!-- Start First Column -->

  <div class="big-container">
    <div class="first-column-container">
      <div class="info-container">
        <div class="courses">
          <a href="courses_for_student.aspx" class="courses-link">
            <i class="fa-solid fa-book"></i>
            <p>courses</p>
          </a>
        </div>
        <div class="timetable">
          <a href="timetable_for_student.aspx" class="timetable-link">
            <i class="fa-regular fa-calendar-days"></i>
            <p>time table</p>
          </a>
        </div>
        <div class="assignment-menu">
          <a
            href="assignment_for_student.aspx"
            class="assignment-link">
            <i class="fa-solid fa-list-check"></i>
            <p>assignments</p>
          </a>
        </div>
        <div class="attendance">
          <a
            href="attendance_for_student.aspx"
            class="attendance-link">
            <i class="fa-solid fa-circle-check"></i>
            <p>attendance</p>
          </a>
        </div>
      </div>

      <div class="edit-container">
        <div class="setting-container">
          <a href="">
            <i class="fa-solid fa-gear"></i>
            <p>Settings</p>
          </a>
        </div>
        <div class="log-out-container">
          <a href="log_in.aspx">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>log out</p>
          </a>
        </div>
      </div>
    </div>

    <div class="dashboard-content">
      <div class="header-container">
        <input type="text" placeholder="🔍 Search..." class="search-input" />

        <div class="header-end-container">
          <i class="fa-solid fa-bell"></i>
          <div class="profile-container">
            <i class="fa-solid fa-user"></i>
            <div class="account-details">
              <h6>{{student.first_name }} {{ student.middle_name }}</h6>
              <p>{{student.class_level}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="assignment">
          <asp:ContentPlaceHolder ID="ContentOfStudentDashboard" runat="server"></asp:ContentPlaceHolder>
        </div>
      </div>
    </div>
  </div>

  <!-- End First Column -->

  <!-- End Dashboard -->

</asp:Content>
