/* Start Global Rules */
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width = 786px) {
}

@media (min-width = 992px) {
}

@media (min-width = 1200px) {
}

:root {
  --main-color: #ffa62b;
  --second-color: #000000;
  --third-color: #4d4d4d;
  --forth-color: #161616;
  --fifth-color: #f8f8f8;
  --sixth-color: #878b8b;
}
/* End Global Rules */

/* Start Navbar */
nav .links .about {
  color: var(--second-color);
}
/* End Navbar */

/* Start Intro */

.intro-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 60px;
}

.intro-container h2 {
  font-size: 82px;
  font-weight: bold;
  padding: 40px 0;
}

.intro-container .vision-container {
  width: 70%;
  text-align: center;
}

.intro-container .vision-container h4 {
  text-align: center;
  font-size: 35px;
  padding: 45px 0;
}

.intro-container .message-container {
  width: 70%;
  text-align: left;
}

.intro-container .message-container h4 {
  text-align: center;
  font-size: 35px;
  padding: 45px 0;
}

.intro-container .message-container p {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

.intro-container .message-container ul li:not(:last-child) {
  padding-bottom: 15px;
}

.intro-container .goals-container {
  width: 70%;
  text-align: left;
}

.intro-container .goals-container h4 {
  text-align: center;
  font-size: 35px;
  padding: 45px 0;
}

.intro-container .goals-container p {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

.intro-container .goals-container ol li:not(:last-child) {
  padding-bottom: 15px;
}

/* End Intro */
