/* Global Rules */
:root {
  --main-color: #ffa62b; /* Primary Color */
  --second-color: #000000; /* Primary Text */
  --third-color: #4d4d4d; /* Secondary Text */
  --forth-color: #161616; /* Footer Color */
  --fifth-color: #f8f8f8; /* Text / Icons */
  --sixth-color: #878b8b; /*  */
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--fifth-color);
  height: 100vh;
}
/* Global Rules */

/* Start Navbar */
nav .links .log-in {
  color: var(--second-color);
}
/* End Navbar */

/* Start Log in */

.big-log-in-container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-container {
width: 45%;
  height: 75%;
  background: var(--fifth-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: calc(100% - 40px);
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  color: #555;
  font-size: 16px;
  outline: none;
}
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--main-color);
  outline: solid 1px var(--main-color);
}
input[type="submit"] {
  width: calc(100% - 40px);
  background: var(--main-color);
  color: var(--fifth-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  padding: 12px;
  outline: none;
}
input[type="submit"]:hover {
  background: var(--main-color);
}
input[type="submit"]:active {
  transform: scale(0.95);
}
.login-container h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container i {
  font-size: 100px;
  color: var(--main-color);
}

.big-log-in-container .login-container  .have-an-account {
  margin-bottom: 20px;
}

.big-log-in-container .login-container  .have-an-account a.create-new-account {
  color: var(--main-color);
  font-size: 17px;
}

.login-container .remember-me {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.login-container  label {
  color: var(--second-color);
  font-size: 16px;
  padding-left: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* End Log in */
