/* Global Rules */
:root {
  --main-color: #ffa62b;
  /* Primary Color */
  --second-color: #000000;
  /* Primary Text */
  --third-color: #4d4d4d;
  /* Secondary Text */
  --forth-color: #161616;
  /* Footer Color */
  --fifth-color: #f8f8f8;
  /* Text / Icons */
  --sixth-color: #878b8b;
  /*  */
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--fifth-color);
  height: 100vh;
}

/* Global Rules */

/* Start Navbar */

/* Start Sign Up For Profs */
.big-sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  height: 100vh;
}

.big-sign-up-container .signup-container {
  width: 80%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-sign-up-container .signup-container form {
  width: 90%;
}

.big-sign-up-container .signup-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.big-sign-up-container .signup-container i {
  margin-bottom: 20px;
  font-size: 100px;
  color: var(--main-color);
}

.big-sign-up-container .signup-container a {
  color: var(--main-color);
  font-size: 20px;
  display: flex;
  margin: 25px 0;
  justify-content: center;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.column {
  width: 48%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  color: #555;
  font-size: 16px;
  outline: none;
}

.upload-file {
  margin: 25px auto;
}

select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  color: #555;
  font-size: 16px;
  outline: none;
}

select[name="gender"],
select[name="class_level"] {
  font-size: 16px;
}

input[type="file"] {
  margin-top: 10px;
  /* Adjust margin based on your design */
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  color: #555;
  font-size: 16px;
  outline: none;
}

label {
  display: block;
  margin-top: 30px;
  color: var(--second-color);
}

small {
  color: var(--sixth-color);
  font-size: 12px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
select:focus {
  outline: 1px var(--main-color) solid;
}

input[type="submit"] {
  background: var(--main-color);
  color: var(--fifth-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  padding: 12px 50px;
  outline: none;
  align-self: center;
  display: flex;
  margin: auto;
}

input[type="submit"]:hover {
  background: var(--main-color);
}

input[type="submit"]:active {
  transform: scale(0.95);
}

/* End Sign Up For Profs */

/* Start Footer */
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: var(--forth-color);
}

.footer-container .footer-main-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--forth-color);
  color: var(--fifth-color);
  padding-top: 80px;
  align-items: flex-start;
  font-size: 15px;
}

.footer-container .footer-main-container .first-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: calc(100% / 3);
  margin-left: 35px;
}

.footer-container .footer-main-container .first-column img {
  width: 60px;
  margin-bottom: 25px;
}

.footer-container .footer-main-container .first-column p {
  margin-bottom: 25px;
  color: var(--sixth-color);
}

.footer-container .footer-main-container .first-column .social-media-icons a:not(:first-child) {
  font-size: 30px;
  color: var(--main-color);
  padding-left: 20px;
}

.footer-container .footer-main-container .first-column .social-media-icons a:first-child {
  font-size: 30px;
  color: var(--main-color);
}

.footer-container .footer-main-container .second-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% / 3);
  justify-content: space-evenly;
  text-align: center;
}

.footer-container .footer-main-container .second-column h2 {
  padding-bottom: 30px;
}

.footer-container .footer-main-container .second-column .pages-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container .footer-main-container .second-column .pages-links a {
  text-decoration: none;
  display: block;
  color: var(--sixth-color);
  padding: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-container .footer-main-container .second-column .pages-links a:hover {
  color: var(--fifth-color);
}

.footer-container .footer-main-container .third-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: calc(100% / 3);
  align-items: center;
}

.footer-container .footer-main-container .third-column div {
  padding: 17px 0;
  display: flex;
  align-items: baseline;
}

.footer-container .footer-main-container .third-column .address {
  width: 40%;
}

.footer-container .footer-main-container .third-column .address i {
  font-size: 15px;
  color: var(--main-color);
  font-size: 20px;
  padding-right: 35px;
}

.footer-container .footer-main-container .third-column .address p {
  font-style: normal;
  color: var(--sixth-color);
  width: 80%;
}

.footer-container .footer-main-container .third-column .phone i {
  font-size: 15px;
  color: var(--main-color);
  padding-right: 35px;
  font-size: 20px;
}

.footer-container .footer-main-container .third-column .phone a {
  font-style: normal;
  color: var(--sixth-color);
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-container .footer-main-container .third-column .phone a:hover {
  color: var(--fifth-color);
}

.footer-container .footer-main-container .third-column .email {
  padding-bottom: 50px;
  padding-top: 17px;
}

.footer-container .footer-main-container .third-column .email i {
  font-size: 15px;
  color: var(--main-color);
  font-size: 20px;
  padding-right: 35px;
}

.footer-container .footer-main-container .third-column .email a {
  font-style: normal;
  color: var(--sixth-color);
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-container .footer-main-container .third-column .email a:hover {
  color: var(--fifth-color);
}

.footer-container .sub-container {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-container .sub-container p {
  color: var(--sixth-color);
  font-size: 15px;
  text-align: center;
  padding: 50px;
}

.footer-container .sub-container p span {
  color: var(--main-color);
  font-weight: bold;
}

.footer-container .sub-container p span a {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

/* End Footer */